/* === General Page Styling === */
body {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: #ce2c30;
  color: #ffecec;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-size: 1.8rem;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 7rem;
  max-height: 165px;
}

h2 {
    text-align: center;
    margin: 0;
}

label {
  font-weight: bold;
}

/* === Input Fields === */
.input-box {
  display: flex;
  align-items: center;
  color: #511921;
  padding: 10px;
  margin-top: 8px;
  font-size: 1.4rem;
  background: #f7bb28;
  border-radius: 8px;
  transition: border-color 0.2s ease, background-color 0.2s ease;
  gap: 10px;
}

.input-box input {
  flex: 1;
  box-sizing: border-box;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.1rem;
  border-radius: 8px;
}

input.invalid {
  border: 2px solid #ff4b4b;
  background-color: #ffecec;
}

/* === Result Boxes === */
.result-box {
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  color: #ffecec;
  background: #511921;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}
