/* General Page Styling */

  body {
    background: #ce2c30;
    font-family: "Saira Extra Condensed", sans-serif;
    font-style: normal;
    margin: 0;
    padding:0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

/* Heading Styling */
.title-text {
  color: #f1f2f4;
  text-align: center;
  display: flex;
  flex-direction:column;
  align-items: center;
  line-height: 1;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.title-text h1 {
  font-weight: 900;
  font-size: 108px;
  margin: 0;
}

.title-text h2 {
  font-weight: 700;
  font-size: 36px;
  margin: 0;
}

/* Current Level Styling */
.current-level-box {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: 400px;
  height: 95%;
  max-height: 400px;
  box-sizing: border-box;
  margin: 12px auto;
}

.current-level-box label {
  font-weight: 700;
  font-style: italic;
  font-size: 72px;
  color: #f1f2f4;
  text-align: center;
  width: 100%;
  line-height: 0.8;
  margin-top: 30px
}

.current-level-box input {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 18rem;
  color: #f1f2f4;
  border: none;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  height: 280px;
  width: 100%;
  transform: translateX(-5%);
    background-color: transparent;

}

input:focus {
  outline: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Current XP Style */
.current-xp {
  position: relative;
  width: 400px;
  height: 35px;
  margin: 20px auto;
}

.current-xp-progress-bar {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.current-xp-progress-bar-fill {
  background-color: #f7bb28;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  transition: width .3s ease;
}

.current-xp-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #f1f2f4;
  font-size: 30px;
  pointer-events: none;
  text-align: center;
  display: flex;
  align-items: center;
  -webkit-text-stroke: 1px rgba(0, 0, 0, .3)
}

.current-xp-text input {
  width: 6ch;              /* width enough for a few digits */
  background: transparent;
  border: none;
  color: #f1f2f4;
  text-align: right;
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  pointer-events: auto;     /* if you want it editable */
  padding: 0;
  margin: 0;
}

/* White Bar Styling */
.progress {
  width: 90%;           
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
  color: #f1f2f4;
  position: relative;
  margin: 40px auto;
}

.level-title-row {
  display: flex;
  align-items: center;
  position: relative;
  height: 18px;
}

.progress-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
}

.progress-bar {
  width: 100%;
  height: 10px; /* adjust as needed */
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.progress-bar-fill {
  height: 100%;
  width: 100%; /* update dynamically later */
  background-color: #f1f2f4;
  border-radius: 3px;
  transition: width 0.3s ease;
}

.xp-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18px;
  font-size: 30px;
}

.xp-left {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}

.xp-progress-text {
  font-family: inherit;
  font-weight: 500;
  font-style: inherit;
  font-size: inherit;
  font-size: 24px;
}

.xp-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18px;
  font-size: 30px;
}

.xp-left {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}

.xp-progress-text {
  font-family: inherit;
  font-weight: 500;
  font-style: inherit;
  font-size: inherit;
  font-size: 24px;
}


/* Goal Progress Input Style */

.goal-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px
}

.goal-input label {
  margin: 0;
}

.goal-input input {
  width: 4ch;
  height: 26px;
  text-align: left;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  color: inherit;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
}






/* Phase 1 Style */
.phase-1-progress {
  width: 90%;           
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
  color: #f1f2f4;
  position: relative;
  margin: 40px;
}

.phase-1-progress-row {
  display: flex;
  align-items: center;
  position: relative; /* for absolute positioning of title */
  height: 18px;
}

.phase-1-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap; /* prevent wrapping */
  text-align: center;
}

.current-phase-1-progress-bar {
  width: 100%;
  height: 10px; /* adjust as needed */
background-color: rgba(255, 255, 255, 0.35);  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

/* Progress bar fill */
.current-phase-1-progress-bar-fill {
  height: 100%;
  width: 100%; /* update dynamically later */
  background-color: #f1f2f4;
  border-radius: 3px;
  transition: width 0.3s ease;
}

/* Bottom row: XP stats */
.phase-1-xp-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18px;
}

/* Bottom texts */
.phase-1-xp-left {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}

.phase-1-xp-progress-text {
  font-family: inherit;
  font-weight: 500;
  font-style: inherit;
  font-size: inherit;
  font-size: 24px;
}

/* Phase 2 Style */
.phase-2-progress {
  width: 90%;           
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
  color: #f1f2f4;
  position: relative;
  margin: 40px;
}

.phase-2-progress-row {
  display: flex;
  align-items: center;
  position: relative; /* for absolute positioning of title */
  height: 18px;
}

.phase-2-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap; /* prevent wrapping */
  text-align: center;
}

.current-phase-2-progress-bar {
  width: 100%;
  height: 10px; /* adjust as needed */
background-color: rgba(255, 255, 255, 0.35);  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

/* Progress bar fill */
.current-phase-2-progress-bar-fill {
  height: 100%;
  width: 100%; /* update dynamically later */
  background-color: #f1f2f4;
  border-radius: 3px;
  transition: width 0.3s ease;
}

/* Bottom row: XP stats */
.phase-2-xp-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18px;
}

/* Bottom texts */
.phase-2-xp-left {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}

.phase-2-xp-progress-text {
  font-family: inherit;
  font-weight: 500;
  font-style: inherit;
  font-size: inherit;
  font-size: 24px;
}


/* Phase 3 Style */
.phase-3-progress {
  width: 90%;           
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
  color: #f1f2f4;
  position: relative;
  margin: 40px;
}

.phase-3-progress-row {
  display: flex;
  align-items: center;
  position: relative; /* for absolute positioning of title */
  height: 18px;
}

.phase-3-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap; /* prevent wrapping */
  text-align: center;
}

.current-phase-3-progress-bar {
  width: 100%;
  height: 10px; /* adjust as needed */
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

/* Progress bar fill */
.current-phase-3-progress-bar-fill {
  height: 100%;
  width: 100%; /* update dynamically later */
  background-color: #f1f2f4;
  border-radius: 3px;
  transition: width 0.3s ease;
}

/* Bottom row: XP stats */
.phase-3-xp-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18px;
}

/* Bottom texts */
.phase-3-xp-left{
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}

.phase-3-xp-progress-text {
  font-family: inherit;
  font-weight: 500;
  font-style: inherit;
  font-size: inherit;
  font-size: 24px;
}



/* === Input Fields === */
.input-box {
  display: flex;
  align-items: center;
  color: #511921;
  padding: 10px;
  margin-top: 8px;
  font-size: 1.4rem;
  background: #f7bb28;
  border-radius: 8px;
  transition: border-color 0.2s ease, background-color 0.2s ease;
  gap: 10px;
}

.input-box input {
  flex: 1;
  box-sizing: border-box;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.1rem;
  border-radius: 8px;
}

input.invalid {
  color: #ff4b4b;
}

/* === Result Boxes === */
.result-box {
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  color: #ffecec;
  background: #511921;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}
